@{
    List<DCode.Models.User.MenuItem> menuItems = null;
    if (Session != null)
    {
        var userContext = Session[DCode.Common.Constants.UserContext] as DCode.Models.User.UserContext;
        menuItems = userContext.MenuItems;
    }
    var currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    var tabName = string.Empty;
    var liClass = "";
    var spanColor = "";
    if (currentUrl.ToLowerInvariant().Contains(DCode.Common.Constants.UrlDashboard))
    {
        tabName = DCode.Common.Constants.TabMyTasks;
    }
    else if (currentUrl.ToLowerInvariant().Contains(DCode.Common.Constants.UrlPermissions))
    {
        tabName = DCode.Common.Constants.TabPermissions;
    }
    else if (currentUrl.ToLowerInvariant().Contains(DCode.Common.Constants.UrlTaskLower))
    {
        tabName = DCode.Common.Constants.TabNewTask;
    }
    else if (currentUrl.ToLowerInvariant().Contains(DCode.Common.Constants.UrlHistory))
    {
        tabName = DCode.Common.Constants.TabHistory;
    }
    else if (currentUrl.ToLowerInvariant().Contains(DCode.Common.Constants.ContactUS.ToLowerInvariant()))
    {
        tabName = DCode.Common.Constants.ContactUS;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/tech-x.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://www.cssscript.com/demo/pretty-checkbox-radio-inputs-with-bootstrap-and-awesome-bootstrap-checkbox-css/build.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/loading-bar.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    @Scripts.Render(BundleConfig.JsAngularBundle)
    @Scripts.Render(BundleConfig.JsAngularAssetsBundle)

    <script type="text/javascript">
        function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        /* Close when someone clicks on the "x" symbol inside the overlay */
        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>
</head>

<body ng-app="dCodeApp" class="body" ng-controller="LayoutController">
    <div @*style="width:100%;"*@ ng-cloak>

        <div id="suggestionmodel" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div>
                            <h3>Feedback</h3>
                        </div>
                        <div class="col-md-12 no-padding margin-bottom-25">
                            <lable style="color:green">{{successMessage}}</lable>
                            <lable style="color:red">{{errorMessage}}</lable>
                            <textarea name="Text1" class="form-control col-md-5" rows="3" maxlength="250" placeholder="Tell us how can we improve DCode" ng-model="suggestionValue"></textarea>
                            <div>
                                <label class="gray-text" style="font-style:italic;">char limit:250</label>
                            </div>
                        </div>
                        <input type="submit" class="review-btn" ng-click="insertSuggestion();" value="Submit">
                    </div>
                </div>
            </div>
        </div>
        <div class="new-style-DTM-layout-left-menu background-color-243342">
            <div class="parent-logo background-color-243342">
                <div class="sidebar-header padding-left-32">
                    <div class="col-md-12 manager-details">
                        <div class="left-nav-circle-txt pull-left">{{userContext.ShortName}}</div>
                        <img src="~/Content/Images/settings.png" width="20px" height="20px" class="margin-right-25 setting-icon pull-right" ng-click="navigateToProfile()" />
                    </div>
                    <div class="pull-left col-md-12 no-margin-left-right no-padding-left-right margin-top-20">
                        <div class="pull-left mgr-name col-md-12 row color-dee1e2">{{userContext.Name}}</div>
                        <div class="pull-left mgr-deg col-md-12 row">{{userContext.Designation}}</div>
                    </div>
                </div>
            </div>
            <div class="left-menu font-size-14">
                <div>
                    <ul class="nav background-color-34495e no-padding-left-right">
                        @if (menuItems != null)
                        {
                            foreach (var menuItem in menuItems)
                            {
                                <a href="@menuItem.NavigationUrl" style="text-decoration-line:none;">
                                    @if (@tabName == @menuItem.TabName)
                                    {
                                        liClass = "active-side-nav";
                                        spanColor = "color-9acd66";
                                    }
                                    else
                                    {
                                        liClass = "";
                                        spanColor = "";
                                    }
                                    <li class="navbar-link padding-left-32 line-height-50 background-color-243342 margin-top-bottom-1 @menuItem.CssClass @liClass">
                                        @if (@menuItem.MenuItemName != "CREATE NEW TASK")
                                        {
                                            if (@tabName == @menuItem.TabName)
                                            {
                                                <img src="@menuItem.ImageUrlActive" />
                                            }
                                            else
                                            {
                                                <img src="@menuItem.ImageUrlInactive" />
                                            }
                                        }
                                        <span class="padding-left-15 menu-text @spanColor">@menuItem.MenuItemName</span>
                                        @if (menuItem.MenuItemName == DCode.Common.Constants.PERMISSIONS)
                                        {
                                            <span class="alert-icon" ng-show="permissionsCount > 0">{{permissionsCount}}</span>
                                        }
                                    </li>
                                </a>
                            }
                        }
                    </ul>
                </div>
                <div style="clear:both;"></div>
                <div>
                    <br />
                    <br />
                </div>
                <div class="new-contribute-button" ng-show="IsRequestor() && isCoreRoleRequestor()" ng-click="SwitchContext('Contributor')">
                    Switch to Contributor
                </div>
                <div class="new-contribute-button" ng-show="!IsRequestor() && isCoreRoleRequestor()" ng-click="SwitchContext('Requestor')">
                    Switch to Requestor
                </div>
                <div>
                    <br />
                </div>
                <div data-toggle="modal" class="suggestions-button new-contribute-button" data-target="#suggestionmodel" ng-click="ResetSuccess()">
                    Suggestions
                </div>
            </div>

        </div>
        <div class="new-style-DTM-layout-renderbody">
            <div class="new-style-DTM-layout-logo">
           @*<div style="height:200px; width:200px">*@
                <div @*style="float:left;width:80%;"*@>
                    <img src="~/Content/Images/tech-x-logo.png" class="new-style-DTM-layout-logo-image pull-left logo">
                </div>
                <div class="new-style-DTM-layout-mobile-menu">
                    <img src="~/Content/Images/MenuImage.png" style="height:50px;width:50px;" @*class="pull-left logo"*@ onclick="openNav()">
                </div>
            </div>

            <div style="width:100%;">
                @RenderBody()
            </div>
        </div>
        <!-- The overlay -->
        <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <!-- Overlay content -->
            <div class="overlay-content">
                <div>
                    <ul class="nav">
                        @if (menuItems != null)
                        {
                            foreach (var menuItem in menuItems)
                            {
                                <a href="@menuItem.NavigationUrl">
                                    @if (@tabName == @menuItem.TabName)
                                    {
                                        liClass = "active";
                                        spanColor = "color-9acd66";
                                    }
                                    else
                                    {
                                        liClass = "";
                                        spanColor = "";
                                    }
                                    <li class="@menuItem.CssClass @liClass">
                                        <span class="@spanColor" style="font-size:20px;">@menuItem.MenuItemName</span>
                                        @if (menuItem.MenuItemName == DCode.Common.Constants.PERMISSIONS)
                                        {
                                            <span class="alert-icon" ng-show="{{permissionsCount > 0}}">{{permissionsCount}}</span>
                                        }
                                    </li>
                                </a>
                            }
                        }
                    </ul>
                </div>
                <div>
                    <br />
                    <br />
                    <a>
                        <div ng-show="IsRequestor() && isCoreRoleRequestor()" ng-click="SwitchContext('Contributor')" style="font-size:25px;cursor:pointer;">
                            Switch to Contributor
                        </div>
                    </a>
                    <a>
                        <div ng-show="!IsRequestor() && isCoreRoleRequestor()" ng-click="SwitchContext('Requestor')" style="font-size:25px;">
                            Switch to Requestor
                        </div>
                    </a>
                    <a>
                        <div data-toggle="modal" data-target="#suggestionmodel" ng-click="ResetSuccess()" style="font-size:25px;">
                            Suggestions
                        </div>
                    </a>
                    <br />
                    <br />
                </div>
            </div>

        </div>
        <div id="alertModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content addSkillDialog  col-md-12 width900">
                    <div class="modal-body col-md-12">
                        <h3>Choose the process that you would like to proceed with.</h3>
                        <div class="edit-task-btn pull-left margin-right-40 col-md-offset-2 submit-but margin-top-20 create-new-task-btn btn-fix cont-btn" ng-click="SwitchContext('Contributor')">CONTIUE AS CONTRIBUTOR</div>
                        <div class="edit-task-btn pull-left margin-right-40 submit-but margin-top-20 margin-bottom-25 create-new-task-btn no-margin-left btn-fix" ng-click="SwitchContext('Requestor')">CONTIUE AS REQUESTOR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script type='text/javascript'>
        $(document).ready(function () {

            $("#datetimepicker1").datetimepicker({
                minDate: new Date(),
                useCurrent: false,
                format: 'MM/DD/YYYY'
            });
            $("#datetimepicker2").datetimepicker({
                minDate: new Date(),
                useCurrent: false,
                format: 'MM/DD/YYYY'
            });

            $('.nav li a').click(function (e) {
                $('.nav li').removeClass('active');
                var $parent = $(this).parent();
                if (!$parent.hasClass('active')) {
                    $parent.addClass('active');
                }
                e.preventDefault();
            });

        });


    </script>

</body>
</html>
