
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reporting Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tech X Search", "GetFilteredTasks", "Tasks", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Top Requestors", "TopRequestors", "Reporting", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Top Contributors", "TopContributors", "Reporting", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Task Requestors Per Offering", "TaskRequestorsPerOffering", "Reporting", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Task Applicants Per Offering", "TaskApplicantsPerOffering", "Reporting", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "GetFilteredUsers", "Users")</li>
                    <li>@Html.ActionLink("Tasks", "GetFilteredTasks", "Tasks")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TechX</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

