@model IEnumerable<SearchApplication.Models.SplitPerOffering>
@{
    ViewBag.Title = ViewBag.PageTitle;
    Layout = "~/Views/Shared/_LayoutReporting.cshtml";
}
<h2>@ViewBag.PageTitle</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TasksApplied)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasksApplied)
            </td>
        </tr>
    }
</table>



