@model IEnumerable<DCode.Data.DbContexts.user>

@{
    ViewBag.Title = "GetFilteredUsers";
    Layout = "~/Views/Shared/_LayoutReporting.cshtml";
}

<h2>Filtered Users</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<form action="GetFilteredUsers" method="post">
    <table class="table table-bordered table-hover table-responsive table-striped" >
        <tr>
            <th>
                @Html.DropDownList("ddl_Desg", new List<SelectListItem>
              {
                new SelectListItem { Text = "Manager", Value = "Manager"},
                new SelectListItem { Text = "Consultant", Value = "Consultant"}

              }, "Select Designation")
            </th>
            <th>
                @Html.DropDownList("ddl_Status", new List<SelectListItem>
            {
              new SelectListItem { Text = "Active", Value = "Active"},
              new SelectListItem { Text = "DeActive", Value = "DeActive"}

            }, "Select Status")
            </th>
            <th>
                <input type="submit" value="ApplyFilter" id="btnSubmit" />
            </th>
            <th>
                @Html.ActionLink("Export To Excel", "ExportToExcel", "Users")
            </th>
        </tr>
    </table>
</form>
<table  class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESIGNATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT_MANAGER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANAGER_EMAIL_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_ON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_ON)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIRST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESIGNATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT_MANAGER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANAGER_EMAIL_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_ON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_ON)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
